
<%if logged_in?%>
  <h1>Welcome to the Training Journal, <%=current_user.username%>.</h1>
  <%else%>
    <h1>Welcome to the Training Journal.</h1>
  <%end%>
<h3><i>"Are you training for something, or are you just exercising?"</i></h3>


<%=button_to "Log In", login_path, :method => :get%></br>
<%=button_to "Sign Up", signup_path, :method => :get%></br>
