
<h1>Welcome, <%=@user.username%>.</h1></br>
Your email is: <%=@user.email%></br></br>
<%= link_to "Create a new workout", new_workout_path%></br></br>
<%= link_to "Create a new goal", new_goal_path%></br></br>
